@using Dominio.Entidades

<form method="post" class="formularioLogin col-6 col-xl-4  row justify-content-center">
    <h3>Finalizar Publicacion Nro: @ViewBag.Subasta.Id</h3>
    <label>Nombre: @ViewBag.Subasta.Nombre</label><br>
    <label>Fecha Publicación: $@ViewBag.Subasta.EstadoPublicacion</label><br>
    <label>Desea finalizar publicacion??</label><br>   
    <input type="submit" class="my-2 btn-focus col-5" value="CONFIRMAR">
    <a class="my-2 btn-focus col-5" asp-area="" asp-controller="Publicacion" asp-action="Index" id="salir">Volver</a> 
    
</form>
@if (ViewBag.msj != null && ViewBag.msj.ToString() != "")
{
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div class="toast bg-focus text-white" role="alert" aria-live="assertive" aria-atomic="true" id="myToast">
            <div class="toast-header text-white bg-focus">
                <strong class="me-auto">FOCUS</strong>
                <small>Web Store</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body bg-white text-dark">
                @ViewBag.msj
            </div>
        </div>
    </div>
}