@using Dominio.Entidades;



<form method="post" action="" class="formularioLogin col-6 col-xl-4  row justify-content-center">
    <h2>Ofertar Subasta</h2>
    <label>@ViewBag.subasta.Nombre</label><br>
    <table class="table table-striped ">
        <theah>
            <tr>
                <th scope="col">Articulo</th>
                <th scope="col">Precio</th>
            </tr>
        </theah>
        @foreach (Articulo item in ViewBag.subasta.Articulos())
        {
            <tr scope="row">
                <td>@item.Nombre</td>
            </tr>
        }
    </table>
    
    <a class="my-2 btn-focus col-5" asp-area="" asp-controller="Publicacion" asp-action="Index" id="salir">Volver</a>
    @if (!String.IsNullOrEmpty(ViewBag.msj))
    {
        <p class="alert-info text-center">@ViewBag.msj</p>
    }
</form>
