@using Dominio.Entidades


<form method="post" action="/Usuario/CargarSaldo" class="formularioLogin col-6 col-xl-4  row justify-content-center">
    <h2>Cargar Saldo</h2>
    <label>@ViewBag.usuario.Nombre @ViewBag.usuario.Apellido</label><br>
    <label>Saldo : $@ViewBag.usuario.SaldoBilletera</label><br>
    <label>Ingrese Saldo a Depositar</label><br>
    <input type="number" required name="Monto" value="0">
    <input type="submit" class="my-2 btn-focus col-5" value="CARGAR">
    <a class="my-2 btn-focus col-5" asp-area="" asp-controller="Publicacion" asp-action="Index" id="salir">Volver</a>
</form>

@if (ViewBag.msj != null && ViewBag.msj.ToString() != "")
{
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div class="toast bg-success text-white" role="alert" aria-live="assertive" aria-atomic="true" id="myToast">
            <div class="toast-header bg-success text-white">
                <strong class="me-auto">FOCUS</strong>
                <small>Web Store</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body bg-white text-dark">
                @ViewBag.msj
            </div>
        </div>
    </div>
}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var toastEl = document.getElementById('myToast');
        if (toastEl) {
            var toast = new bootstrap.Toast(toastEl);
            toast.show();
        }
    });
</script>
